/* Default */
body {
  font-family: Helvetica Neue, Helvetica, Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #444444;
}

h1 {
  font-size: 4rem;
  font-style: italic;
  margin: 0;
}

.header {
  padding: 3rem 0;
}

.body-wrap {
  padding: 1rem;
}

.body-grid {
  display: grid;
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
}

.buttons-list {
  display: flex;
  flex-wrap: wrap;
}

code {
  display: block;
  max-width: 100%;
  background: #444444;
  color: #f5f5f5;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

code div {
  margin-bottom: 1rem;
}

/* Small devices */
@media (min-width: 576px) {
  
}

/* Medium devices */
@media (min-width: 768px) {
  .buttons-list {
    flex-wrap: nowrap;
  }
  .button-item {
    width: 50%;
    margin-right: 1rem;
  }
}

/* Large devices */
@media (min-width: 992px) {}

/* Extra large devices */
@media (min-width: 1200px) {}

/* Buttons Styling */

.button-wrap {
  margin-bottom: 1rem;
}
.button {
  display: inline-block;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 200;
  padding: 0.8rem 1.2rem;
  background: none;
  border: none;
  outline: none;
}

/* Button 1 */
.outline-shadow {
  position: relative;
  font-weight: 600;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 1px;
  border: solid 2px #4faef2;
  color: #4faef2;
  box-shadow: 0 4px 0 0 #4faef2;
  overflow: hidden;
}

.outline-shadow span {
  position: relative;
  z-index: 2;
}

.outline-shadow::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #85dafc;
  opacity: 0.1;
  border-radius: 50%;
  width: 0;
  height: 0;
  transition: all 400ms;
}

.outline-shadow:hover:after {
  width: 12rem;
  height: 12rem;
}

.outline-shadow:active {
  top: 4px;
  box-shadow: 0 0 0 0 #4faef2;
}

/* 3D Button */
.three-d {
  position: relative;
  font-weight: 600;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 1px;
  transform: translate(4px, -2px);
  transition: all 400ms;
}

.three-d:hover {
  transform: translate(0, 0);
}

.three-d .top {
  color: #85dafc;
  opacity: 0.7;
}

.three-d .bottom {
  position: absolute;
  top: 55%;
  left: 45%;
  transform: translate(-50%, -50%);
  color: #f97085;
  opacity: 0.7;
  transition: all 400ms;
}

.three-d::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border: solid 2px #85dafc;
  opacity: 0.7;
}

.three-d::after {
  content: '';
  position: absolute;
  top: 5%;
  left: -5%;
  display: block;
  width: 100%;
  height: 100%;
  border: solid 2px #f97085;
  opacity: 0.7;
  transition: all 400ms;
}

.three-d:hover .bottom {
  top: 50%;
  left: 50%;
}

.three-d:hover::after {
  top: 0;
  left: 0;
}