* {
  font-size: 20px;
  letter-spacing: 1.1px;
  font-weight: 300;
}
button {
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 30px;
  border: 0.1px solid #c6c5c4;
  border-radius: 35px;
  color: white;
  box-shadow: 0px 2px 18px #c6c5c4;
  transition: box-shadow 0.5s ease;
}
button:hover {
  box-shadow: 0px 2px 30px #a0a29f;
  cursor: pointer;
}
button:nth-child(1) {
  margin-top: 100px;
  background: linear-gradient(to bottom right, red , #eec945);
}
button:nth-child(2) {
  background: linear-gradient(to bottom right, #006ac1 , #03b8c9) ;
}
.margin-top {
  margin-top: 32px;
}
